.App {
  text-align: center;
}
.image-container {
  margin: 5px; 
  box-sizing: border-box;
}

.image {
  border-radius: 8px;
}

input, button {
  padding: 8px;
  border-radius: 8px;
}

html {
  background: linear-gradient(to right, #800080, #0000FF);
}
